{% extends "base.html" %}
{% block content %}
    <div class="container" >
    <div class="jumbotron text-center" >
        <h1 class="mb-5"><span class="text-success">CONGRATS!</span> {{ request.user| upper }}</h2>
        <p>You Have Succesfully Completed  <strong class="text-success">ACM</strong> presents, <strong ><span class="text-success">HACHE</span>CFT</strong></p>
        <p style="line-height: 2.5em;">What To Do Next, Still Back And Enjoy Your Conquest,<br> But Do Remember As A Hacker Must Keep His Identity <span class="text-success">Anonymous</span>, So Must Your Flags Be.</p>
    </div>
</div>
{% endblock content %}
